/* CheckoutShipping.css */

.heading {
  font-size: 24px;
  text-align: justify;
}

.shipping-details {
  text-align: justify;
  padding: 20px;
}

.flex {
  display: flex;
  align-items: left;
  align-self: center;
  flex: 1;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

#nombre-container {
  margin-right: 8px;
  flex: 1.4;
  width: 100%;
}

#apellidos-container {
  flex: 2;
  width: 100%;
}

.ver-pedido {
  font-size: 1.5rem;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 10px;
}
.ver-pedido:hover {
  font-size: 1.8rem;
  cursor: pointer;
}

.continue-shopping {
  color: #353535;
  font-weight: 300;
  font-size: 1rem;
}

.continue-shopping:hover {
  cursor: pointer;
}

.flex-form-input label,
.input-group {
  margin-right: 10px;
  margin-bottom: 8px;
  color: #000;
  font-size: 14px;
}

.color-red-bold {
  color: red;
  font-weight: bold;
}

.color-red {
  color: red;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  flex: 1;
  margin-bottom: 15px;
}

.flex-space-between {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.flex-space-between:hover {
  cursor: pointer;
  color: #3c3c3c;
}

.content-box {
  margin: 20px auto;
}

.checkout-form-container {
  width: 100%;
  align-items: center;
  text-align: justify;
}

.form {
  border-collapse: collapse;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: 1;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.submit-button {
  background-color: #3c97cb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.close-div {
  background: none;
}
.close-div:hover {
  background: none;
}

.close-icon {
  font-size: 24px;
  color: black;
}
.close-icon:hover {
  color: rgb(136, 136, 136);
}

.rotate.reverse {
  transform: rotate(0deg);
}

.submit-button:hover {
  background-color: #9adaff; /* Cambia el color al pasar el mouse */
}

.form {
  width: 100%;

  margin: 0;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.tarjeta-debito-credito {
  margin-top: 20px;
}

.tarjeta-debito-credito label {
  display: block;
  margin-bottom: 8px;
}

.tarjeta-debito-credito input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.next-step-button {
  background-color: #3c97cb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.next-step-button:hover {
  background-color: #f00; /* Change color on hover */
}

/* Media query for responsive design */
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .flex-form-input {
    display: flex;
    flex-direction: column;
    align-items: justify;
    flex: 1;
  }

  .next-step-button {
    right: 0;
  }

  .input {
    margin-bottom: 10px;
  }

  .submit-button {
    margin-top: 10px;
  }
  .item-container {
    height: auto; /* Adjust height for responsive design */
  }

  .checkout-form-container {
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    max-height: 80vh; /* Set a maximum height for the table container */
    position: relative; /* Add this to establish a stacking context */
  }

  .form {
    width: 100%;

    margin: 0;
  }
}

.login-section {
  text-align: left;
  margin-bottom: 20px;
}

.omitir,
.cambiar {
  font-size: 12px; /* O ajusta el tamaño según tus preferencias */
  vertical-align: top; /* Alinea arriba */
  color: rgb(81, 81, 81); /* Cambia el color según tus preferencias */
  margin-left: 15px;
  /* Otros estilos que desees agregar */
}
.omitir:hover {
  cursor: pointer;
  color: rgb(200, 200, 200); /* Cambia el color según tus preferencias */
  /* Otros estilos que desees agregar */
}

.email-de-usuario {
  font-size: 1rem;
  padding: 10px;
}

.login-section a,
.cambiar {
  color: royalblue;
  text-decoration: none;
}
.login-section a:hover,
.cambiar:hover {
  cursor: pointer;
  color: rgb(29, 47, 100);
  text-decoration: none;
}

.pagar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
/* Estilos generales para la pasarela de pago */
.tarjeta-debito-credito {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para etiquetas y campos de entrada */
.tarjeta-debito-credito label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.tarjeta-debito-credito input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo para el botón de enviar */
.tarjeta-debito-credito button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.tarjeta-debito-credito button:hover {
  background-color: #45a049;
}

.payment-options {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.checkout-payment-options {
  padding: 3px;
  display: flex;
  justify-content: space-around;
}

.payment-box {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
}

.flex-order-1 {
  flex: 1;
}

.flex-order-2 {
  flex: 1;
  order: -1;
}

@media screen and (max-width: 915px) {
  .payment-box {
    flex-direction: column;
  }

  .flex-order-1 {
    flex: 1;
    order: -1;
  }

  .flex-order-2 {
    flex: 1;
  }
  .shipping-details,
  .heading {
    text-align: center;
  }
}
