/* MisPedidos.css */

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.selected {
  background-color: #a0d3e8;
}

.detalles {
  min-height: 50vh;
}
.detalle-pedido {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.detalle-pedido h3 {
  margin-top: 0;
}

.detalle-pedido ul {
  list-style: none;
  padding: 0;
}

.detalle-pedido li {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.section-title {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #333;
}

.section-title p {
  font-size: 16px;
  margin: 10px 0;
  color: #777;
}

.datos-del-comprador {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.datos-del-comprador li {
  text-align: justify;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.2;
}

.pedido-card-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.pedido-card {
  margin: 10px auto;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.177);
  display: flex;
  flex-direction: column;
  padding: 5px 15px 10px;
}

#id-pedido {
  display: flex;
  flex-direction: row;
}

#status-circle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px; /* Ajusta el margen según sea necesario */
}

.id-estado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activo {
  background-color: #3f9a1e;
}

.en-camino {
  background-color: #3c97cb;
}

.finalizado {
  background-color: rgb(255, 221, 0);
}

#ver-detalles {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 10px;
}

.enviar-comprobante {
  background-color: rgb(85, 162, 72);
  padding: 10px;
  border-radius: 15px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.enviar-comprobante a {
  color: #fff;
  text-decoration: none;
}

.detalle-mi-pedido {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background: #fff;
}

.detalle-mi-pedido > div {
  display: table-row;
}

.detalle-mi-pedido > div > span {
  display: table-cell;
  padding: 8px; /* Ajusta según sea necesario */
  border: 1px solid #ddd; /* Añade bordes para simular celdas */
}
