/* MisPedidos.css */

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.selected {
  background-color: #a0d3e8;
}

.detalles {
  min-height: 50vh;
}
.detalle-pedido {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.detalle-pedido h3 {
  margin-top: 0;
}

.detalle-pedido ul {
  list-style: none;
  padding: 0;
}

.detalle-pedido li {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.section-title {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #333;
}

.section-title p {
  font-size: 16px;
  margin: 10px 0;
  color: #777;
}

.datos-del-comprador {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.datos-del-comprador li {
  text-align: justify;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.2;
}

.flex {
  align-items: center;
}

.pedido-card-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.pedido-card {
  margin: 10px auto;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.177);
  display: flex;
  flex-direction: column;
  padding: 5px 15px 10px;
}

#id-pedido {
  display: flex;
  flex-direction: row;
}

#status-circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px; /* Ajusta el margen según sea necesario */
}

.id-estado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activo {
  background-color: #fff;
  border: 3px solid #3f9a1e;
}

.detalles-productos {
  
  margin: "0 auto";
  text-align: "center",
}

.en-camino {
  background-color: #fff;
  border: 3px solid rgb(255, 221, 0);
}


.red {
  color: #c82333;
}

.finalizado {
  background-color: #3c97cb;
}

.red-background {
  background: #c82333;
}

.black-background {
  background: #000000;
}
#ver-detalles {
  background-color: #fac458;
  color: #000;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid #000;
}

.enviar-comprobante {
  margin-top: 20px; /* Espacio en la parte superior para separar de los detalles del pedido */
}

.enviar-comprobante a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50; /* Color de fondo */
  color: #fff; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado del enlace */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.enviar-comprobante a:hover {
  background-color: #45a049; /* Cambiar color de fondo al pasar el ratón */
  text-decoration: none; /* Eliminar subrayado del enlace */
}

.datos-pedido{
  padding: 10px;
}

.datos-pedido li{
  text-align: left;
}

.detalle-mi-pedido {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background: #fff;
}

.detalle-mi-pedido > div {
  display: table-row;
}

.detalle-mi-pedido > div > span {
  display: table-cell;
  padding: 8px; /* Ajusta según sea necesario */
  border: 1px solid #ddd; /* Añade bordes para simular celdas */
}


.direccion {
  font-size: 1.3rem;
}

.pedido-preview {
  padding: 5px 0 10px;
}