/* PedidoConfirmado.css */

.pedido-detalle-container {
    margin: 0px;
  }
  
  .activo-text {
    color: #007bff; /* Azul para estado "Activo" */
  }
  
  .en-camino-text {
    color: #28a745; /* Verde para estado "En camino" */
  }
  
  .finalizado-text {
    color: #35dc86; /* Rojo para estado "Finalizado" */
  }
  
  .transaccion-pendiente-text {
    color: #ecb100; /* Amarillo para estado "Pendiente" */
  }
  
  .transaccion-pagado-text {
    color: #28a745; /* Verde para estado "Pagado" */
  }
  
  .transaccion-rechazado-text {
    color: #dc3545; /* Rojo para estado "Rechazado" */
  }
  
  /* Otros estilos según tus necesidades */

  /* PedidoConfirmado.css */


  
  .pedido-detalle-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .copiar {
    background: none;
    color: #007bff;
    font-size: 1rem;
  }
  

  .copiar:hover {
    color: #007bffaa;
    font-size: 1rem;
  }
  
  .pedido-titulo {
    font-size: 24px;
  }

  .mg-b-10 {
    margin-bottom: 20px;
  }
  
  .activo-text {
    color: #007bff; /* Azul */
  }
  
  .en-camino-text {
    color: #28a745; /* Verde */
  }
  
  .finalizado-text {
    color: #17a2b8; /* Cian */
  }
  
  .transaccion-pendiente-text {
    color: #ffc107; /* Amarillo */
  }
  
  .transaccion-pagado-text {
    color: #28a745; /* Verde */
  }
  
  .transaccion-rechazado-text {
    color: #dc3545; /* Rojo */
  }
  
  .pedido-details,
  .transaccion-details {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  dt {
    font-weight: bold;
  }
  

  
  /* Media query para hacerlo responsive */
  @media (max-width: 955px) {
    dl {
      grid-template-columns: 1fr;
    }

  }

dl {
  display: flex;
  flex-wrap: wrap;
}

dt {
  font-weight: bold;
  flex: 1 50%; /* Ocupa el 50% del ancho en dos columnas */
}

dd {
  flex: 1 48%; /* Ocupa el 50% del ancho en dos columnas */
}

/* Media query para hacerlo responsive */
@media (max-width: 955px) {
  dl {
    flex-direction: column; /* Cambia a una columna en pantallas más estrechas */
  }

  dt, dd {
    flex: 1 100%; /* Ocupa el 100% del ancho en una columna */
  }
}
  
  
.numero-copiado {
    color: #007bff;
    font-weight: bold;
}

/* PedidoConfirmado.css */

.pedido-detalle-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.copiar {
  background: none;
  color: #007bff;
  font-size: 1rem;
}

.copiar:hover {
  color: #007bffaa;
  font-size: 1rem;
}

.pedido-titulo {
  font-size: 24px;
}

.mg-b-10 {
  margin-bottom: 20px;
}

.activo-text {
  color: #007bff; /* Azul */
}

.en-camino-text {
  color: #28a745; /* Verde */
}

.finalizado-text {
  color: #17a2b8; /* Cian */
}

.transaccion-pendiente-text {
  color: #ffc107; /* Amarillo */
}

.transaccion-pagado-text {
  color: #28a745; /* Verde */
}

.transaccion-rechazado-text {
  color: #dc3545; /* Rojo */
}

.pedido-details,
.transaccion-details {
  margin-bottom: 20px;
}

dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

dt {
  font-weight: bold;
}

/* Media query for tablets and smaller screens */
@media (max-width: 955px) {
  dl {
    grid-template-columns: 1fr; /* Switch to a single column layout */
  }
}

.numero-copiado {
  color: #007bff;
  font-weight: bold;
}

.id-pedido {
  background: #e8e8e8;
  padding: 5px 10px;
  border-radius: 20px;
  width: 40%; /* Adjust width for smaller screens */
}
