/* ListaUsuarios.css */

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

/* Estilo para los encabezados */
th {
    background-color: #007bff; /* Fondo azul */
    color: white; /* Letra blanca */
    font-weight: bold;
    text-align: left;
}

/* Estilo para filas impares (fondo gris) */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para filas pares (fondo blanco) */
tbody tr:nth-child(even) {
    background-color: white;
}

/* Estilo para las imágenes (ajustar al tamaño de la fila) */
tbody img {
    max-width: 100%;
    max-height: 100px; /* Establece la altura máxima de la imagen */
    height: auto;
}

/* Estilo para las filas (establece la altura máxima) */
tbody tr {
    max-height: 100px; /* Establece la altura máxima de las filas */
    overflow: hidden; /* Oculta el contenido que supere la altura máxima */
}



.registrar-usuario-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    border:2px solid #ffffff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background: #007bff89;
}
.registrar-usuario-form label {
    text-align: left;
}

.registrar-usuario-form input, .registrar-usuario-form select  {
    width: 350px;
    padding: 3px;
}
.registrar-usuario-form select  {
    margin: 8px 0;

}