/* Carrito.css */


/* Style for the sidebar container */
.carrito-sidebar {
  position: fixed;
  top: 59px;
  right: -30%; /* Start closed by default */
  height: calc(100% - 59px);
  background-color: #fff;
  overflow-y: auto;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out; /* Animate right property for transition */
}

/* Style for the open sidebar */
.carrito-sidebar.open {
  right: 0; /* Open the sidebar */
  width: 420px;
}

/* Style for the close button (X) */
.carrito-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

/* Style for the container inside the sidebar */
.carrito-container {
  padding: 20px;
}

/* Style for the title of the cart */
.carrito-title {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.cantidad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cantidad input {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #fff;
  border: none;
}

.none {
  display: none;
}


/* Style for each item in the cart */
.carrito-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  max-width: 100%;
}

.carrito-item .texto {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-between;
}
.carrito-item .texto h4 {
  font-size: 1rem;
}
.carrito-item .texto p {
  font-size: .8rem;
}
.opciones-menu {
  display: flex;
  flex-direction: column;
}

.opciones-menu select {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}
/* Establecer el ancho del contenido al 100% */
.carrito-item > * {
  width: 100%;
}

/* Style for the buttons to increase and decrease quantity */
.carrito-button {
  background-color: #fdc557;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.carrito-button-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Style for the delete button */
.carrito-button-eliminar {
  background-color: #fdc557;
}

.opciones-carrito {
  display: flex;
}

.opciones-carrito a {
  color: white;
  text-decoration: none;
  display: flex;
}

/* Style for the "Realizar Pedido" button */
.carrito-button {
  display: block;
  margin: 0 auto;
  background-color: #000;
  margin-top: 20px;
  padding: 10px 20px;
}
.carrito-button:hover {
  background-color: #99daff;
}

/* Style for the quantity text */
.carrito-quantity {
  font-size: 1rem;
  font-weight: bold;
}

.carrito-img {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 600px){
  .carrito-sidebar.open {
    width: 80%;
  }
}


.carrito-item h4 {
  font-weight: 300;
}