/* CheckoutShipping.css */

/* Estilos generales */
.heading {
  font-size: 24px;
  text-align: justify;
}

.shipping-details {
  text-align: justify;
  padding: 20px;
}

/* Flexbox */
.flex {
  display: flex;
  align-items: left;
  align-self: center;
  flex: 1;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

/* Contenedores de nombre y apellidos */
#nombre-container {
  margin-right: 8px;
  flex: 1.4;
  width: 100%;
}
#apellidos-container {
  flex: 2;
  width: 100%;
}

/* Enlaces y botones */
.ver-pedido {
  font-size: 1.5rem;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 10px;
}
.ver-pedido:hover {
  font-size: 1.8rem;
  cursor: pointer;
}

.continue-shopping,
.flex-space-between {
  color: #353535;
  font-weight: 300;
  font-size: 1rem;
}
.continue-shopping:hover,
.flex-space-between:hover {
  cursor: pointer;
  color: #3c3c3c;
}

/* Formularios y campos de entrada */
.flex-form-input label,
.input-group {
  margin-right: 10px;
  margin-bottom: 8px;
  color: #000;
  font-size: 14px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

/* Botón de enviar y estilos relacionados */
.submit-button,
.next-step-button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.submit-button:hover,
.next-step-button:hover {
  background-color: #9adaff;
}

/* Rotación del icono de cierre */
.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.rotate.reverse {
  transform: rotate(0deg);
}

/* Estilos para tablas y diseño responsivo */
.form {
  width: 100%;
  margin: 0;
}

/* Título y estilos relacionados */
.title {
  text-align: center;
  font-size: 3rem;
}

/* Tarjeta de débito/crédito y estilos relacionados */
.tarjeta-debito-credito {
  margin-top: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tarjeta-debito-credito label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.tarjeta-debito-credito input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.tarjeta-debito-credito button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.tarjeta-debito-credito button:hover {
  background-color: #45a049;
}

/* Estilos específicos para dispositivos más pequeños */
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
  .flex-form-input {
    display: flex;
    flex-direction: column;
    align-items: justify;
    flex: 1;
  }
  .next-step-button {
    right: 0;
  }
  .input {
    margin-bottom: 10px;
  }
  .submit-button {
    margin-top: 10px;
  }
  .item-container {
    height: auto;
  }
  .checkout-form-container {
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    max-height: 80vh;
    position: relative;
  }
  .form {
    width: 100%;
    margin: 0;
  }
}

/* Sección de inicio de sesión y estilos relacionados */
.login-section {
  text-align: left;
  margin-bottom: 20px;
}
.omitir,
.cambiar {
  font-size: 12px;
  vertical-align: top;
  color: rgb(81, 81, 81);
  margin-left: 15px;
}
.omitir:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}
.email-de-usuario {
  font-size: 1rem;
  padding: 10px;
}
.login-section a,
.cambiar {
  color: royalblue;
  text-decoration: none;
}
.login-section a:hover,
.cambiar:hover {
  cursor: pointer;
  color: rgb(29, 47, 100);
  text-decoration: none;
}

/* Sección de pago y estilos relacionados */
.pagar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.payment-options {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.checkout-payment-options {
  padding: 3px;
  display: flex;
  justify-content: space-around;
}

/* Estilos para la lista de instrucciones de pago */
.instruction-list {
  list-style-type: decimal;
  padding: 16px;
}
.instruction-list li {
  margin-bottom: 12px;
}

/* Estilos para el enlace de WhatsApp */
.enviar-comprobante {
  margin-top: 8px;
}
.whatsapp-link {
  color: #25d366;
  text-decoration: none;
  font-weight: bold;
}
